In [1]:
import pandas as pd
import requests

In [2]:
url = 'http://localhost:8000/trends'
resposta = requests.get(url)

In [3]:
print(resposta)

<Response [200]>

In [4]:
df = pd.DataFrame(resposta.json())

In [5]:
df.head()

               name                                             url
0             Sandy               http://twitter.com/search?q=Sandy
1           Adriana             http://twitter.com/search?q=Adriana
2             Adele               http://twitter.com/search?q=Adele
3       #Fantastico       http://twitter.com/search?q=%23Fantastico
4  #CiroNaGloboNews  http://twitter.com/search?q=%23CiroNaGloboNews

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    50 non-null     object
 1   url     50 non-null     object
dtypes: object(2)
memory usage: 928.0+ bytes

In [7]:
df.describe()

              name                                 url
count           50                                  50
unique          50                                  50
top     QUE GOLAÇO  http://twitter.com/search?q=Franca
freq             1                                   1

In [8]:
df.dtypes

name    object
url     object
dtype: object

In [9]:
df.nunique()

name    50
url     50
dtype: int64